@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "code.css";

.toc-entry {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-areas: "chapter page";
    align-items: end;
    gap: 0 0.5ch;
}

.toc-chapter {
    grid-area: chapter;
    position: relative;
    overflow: hidden;
}

.toc-chapter::after {
    position: absolute;
    padding-left: 0.5ch;
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    text-align: right;
}

.toc-entry:hover .toc-chapter{
    @apply underline
}

.toc-page {
    grid-area: page;
}
